{% extends "base.html" %}

{% block title %}
  Marketplace
{% endblock %}

{% block content %}
  <section class="marketplace">
    <article class="marketplace__article">
      <h2 class="marketplace__title">Browse Marketplace</h2>
      <p class="marketplace__subtitle">Browse through more than 50k NFTs on the NFT Marketplace.</p>
      <form action="#" class="marketplace__form">
        <input
          type="search"
          maxlength="100"
          placeholder="Search your favourite NFTs"
          class="marketplace__search"
        />
      </form>
    </article>
  </section>
{% endblock %}